@media (min-width: 768px) {
	#slider_sub {
		width: 256px;
		/*margin-top: 51px;*/
		position: absolute;
		z-index: 1;
		height: 750px;
	}
	.mysearch {
		margin: 20px 0;
	}
	.page_main {
		margin-left: 256px;
	}
}

.row .panel .list-group  {
	padding: 0;
	margin-right: 0px;
}

.row .panel .list-group .list-group-item {
	margin-top: 18px;
	margin-bottom: 18px;
	margin-right: 0;
}
